github "hackiftekhar/IQKeyboardManager" "v6.1.1"
github "gmotzespina/QRCode" "master"
github "SwiftyJSON/SwiftyJSON" ~> 5.0.0
github "evgenyneu/keychain-swift" ~> 11.0
binary "https://icepa.github.io/Tor.framework/Tor.json" == 305.8.1
github "JohnEstropia/CoreStore" >= 5.0.0
github "krzyzanowskim/CryptoSwift"
github "vergecurrency/BitcoinKit" ~> 1.2.0
github "Swinject/Swinject" ~> 2.6.0
github "google/promises"
